# ignore assets, build & dist etc...
pack

# Ignore sass cache
**/.sass-cache

# Ignore grunt stuff
**/node_modules
**/.grunt

# Ignore bower components
**/bower_components

# php storm
*.idea

# Sublime Text 2
*.sublime-project
*.sublime-workspace

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
